@import "../../sass/colors";
@import "../../sass/mixins";

.toggle-favorites {
  @include defaultMargins;
  margin-bottom: 1.5rem;

  &__container {
    @include containerMaxWidthAndCenter;
    margin-inline: auto;

    &__toggleBTN {
      font-weight: bold;
      width: 100%;
      padding: 0.7rem;
      color: $white;
      background-color: transparent;
      border: 1px solid $yellowLogo;
      outline: none;
      border-radius: 5px;
      box-shadow: 2px 2px 4px $darkRedLogo;
      font-size: 1rem;
      transition: 0.2s ease-in-out;

      // Light-Mode
      &.light-mode {
        background-color: $yellowLogo;
        box-shadow: 2px 2px 4px $black;
        color: $black;
        border: 1px solid $black;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }

      &::placeholder {
        font-style: italic;
        color: $whiteTransparent1;
      }
    }
  }
}
