// Default Colors
$defaultDarkModeBackground: rgb(25, 25, 25);
$defaultDarkModeText: rgb(255, 255, 255);

$defaultLightModeBackground: rgb(255, 255, 255);
$defaultLightModeText: rgb(0, 0, 0);

// Logo Colors
$blueLogo: rgb(66, 78, 222);
$darkBlueLogo: rgb(51, 64, 220);
$redLogo: rgb(255, 99, 121);
$darkRedLogo: rgb(255, 65, 91);
$yellowLogo: rgb(255, 211, 87);
$darkYellowLogo: rgb(255, 184, 6);

// Solid Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$green: rgb(0, 128, 0);
$blue: rgb(0, 0, 255);

// Transparent Colors
$whiteTransparent1: rgba(255, 255, 255, 0.1);
$whiteTransparent7: rgba(255, 255, 255, 0.7);

$blackTransparent3: rgba(0, 0, 0, 0.3);
