// Default Colors
$defaultDarkModeBackground: rgb(25, 25, 25);
$defaultDarkModeText: rgb(255, 255, 255);

$defaultLightModeBackground: rgb(255, 255, 255);
$defaultLightModeText: rgb(0, 0, 0);

// Solid Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$green: rgb(0, 128, 0);
$blue: rgb(0, 0, 255);

// Transparent Colors
