@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";
@import "../../sass/cards-mixins";

.display-search-list {
  @include audioDesign;
  @include defaultMargins;

  &__card {
    @include containerMaxWidthAndCenter;
    @include cardDesign;

    &.light-mode {
      background-color: $whiteTransparent7;
    }
  }

  &__favoritePNG {
    @include favAndDeletePNGDesign;
    left: 10px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__word {
    @include wordDesign;
  }

  &__phonetic-span {
    @include phoneticSpanDesign;
  }

  &__phonetic {
    margin-bottom: 2rem;
  }

  &__all-meanings {
    @include allMeaningsDesign;
  }

  &__meaning {
    &__part-of-speech {
      @include partOfSpeechDesign;
    }

    &__definition {
      margin: 0.5rem 0;
    }
  }

  &__error-txt {
    @include cardErrorText;
  }
}
