@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";

.display-search-list {
  margin: 0 1.5rem;

  &__card {
    @include containerMaxWidthAndCenter;
    border: 1px solid $blueLogo;
    box-shadow: 3px 3px 6px $darkRedLogo;
    border-radius: 5px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
  }

  &__favoritePNG {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 32px;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__word {
    text-transform: UPPERCASE;
    font-size: 2rem;
  }

  &__phonetic-span {
    font-style: italic;
    font-size: 1.2rem;
  }

  &__phonetic {
    margin-bottom: 2rem;
  }

  &__all-meanings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__meaning {
    &__part-of-speech {
      color: $darkRedLogo;
      text-transform: UPPERCASE;
      margin-bottom: 0.4rem;
      border-bottom: 1px solid $yellowLogo;
    }

    &__definition {
      margin: 0.5rem 0;
    }
  }

  &__error-txt {
    margin: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(255, 135, 135);
    text-align: center;
  }
}

audio::-webkit-media-controls-panel {
  background-color: rgba(255, 60, 213, 0.466);
}

audio::-webkit-media-controls-time-remaining-display {
  color: white;
}
