@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";
@import "../../sass/cards-mixins";

.display-favorites {
  @include audioDesign;
  @include defaultMargins;

  h1 {
    text-align: center;
    text-transform: UPPERCASE;
    font-size: 2.3rem;
  }
}

.card-section {
  @include containerMaxWidthAndCenter;

  &__card {
    @include cardDesign;

    &.light-mode {
      background-color: $whiteTransparent7;
    }
  }

  &__no-favorites-txt {
    @include cardErrorText;
  }

  &__deletePNG {
    @include favAndDeletePNGDesign;
    right: 10px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__word {
    @include wordDesign;
  }

  &__phonetic-span {
    @include phoneticSpanDesign;
  }

  &__phonetic {
    margin-bottom: 2rem;
  }

  &__all-meanings {
    @include allMeaningsDesign;
  }

  &__meaning {
    &__part-of-speech {
      @include partOfSpeechDesign;
    }

    &__definition {
      margin: 0.5rem 0;
    }
  }
}
