@import "./sass/colors";
@import "./sass/fonts";
@import "./sass/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  min-height: 100vh;
  padding-bottom: 2rem;

  background-color: $defaultDarkModeBackground;
  color: $defaultDarkModeText;

  // Light Mode.
  &.light-mode {
    background-color: $defaultLightModeBackground;
    background-image: url("https://wallpapers.com/images/hd/4k-white-abstract-waves-i308ljad82204626.jpg");
    /* You can also use other properties to control the background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Scales the image to cover the entire element */
    /* Add other background properties as needed */
    color: $defaultLightModeText;
  }
}

/* SCROLLBAR DESIGN! */
body::-webkit-scrollbar {
  width: 0.7rem;
  background-color: $black;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $black;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: $black;
  outline: 1px solid rgba(126, 64, 184, 0.925);
  border-radius: 50px;
}
