@import "./sass/colors";
@import "./sass/fonts";
@import "./sass/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: $defaultDarkModeBackground;
  color: $defaultDarkModeText;
}

.App {
  min-height: 100vh;

  // Dark Mode.
  background-color: $defaultDarkModeBackground;
  color: $defaultDarkModeText;

  // Light Mode.
  &.light-mode {
    background-color: $defaultLightModeBackground;
    color: $defaultLightModeText;
  }
}
